/* Success message */
div.dokuwiki div.bureaucracy__plugin {
    width: 50%;
    font-size: 120%;
    padding: 2em;
}

/* Form */
div.dokuwiki form.bureaucracy__plugin {
    width: 100%;
    text-align: center;
    margin: 2em 0;
    display: block;
}

div.dokuwiki form.bureaucracy__plugin p {
    font-size: 90%;
    margin-top: 0.5em;
}

div.dokuwiki form.bureaucracy__plugin fieldset {
    width: 80%;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.dokuwiki form.bureaucracy__plugin label {
    display: block;
    text-align: right;
    line-height: 2em;
}

div.dokuwiki form.bureaucracy__plugin label>span {
    display: inline-block;
    width: 47%;
    line-height: normal;
}
div.dokuwiki form.bureaucracy__plugin label.textareafield {
    text-align: left;
}
div.dokuwiki form.bureaucracy__plugin label.textareafield>span {
    width: 100%;
}

div.dokuwiki form.bureaucracy__plugin label input.edit,
div.dokuwiki form.bureaucracy__plugin label select {
    width: 50%;
}
div.dokuwiki form.bureaucracy__plugin label input.datepicker,
div.dokuwiki form.bureaucracy__plugin label input.timefield {
    width: 25%;
    margin-right: 25%;
}

div.dokuwiki form.bureaucracy__plugin label textarea.edit {
    width: 100%;
}
div.dokuwiki form.bureaucracy__plugin label input[type=checkbox] {
    width: 5%;
    margin-right: 45%;
}

div.dokuwiki form.bureaucracy__plugin input.button {
    margin: 3px 0 3px 50%;
    display: block;
}
div.dokuwiki form.bureaucracy__plugin label.radiolabel span{
    width: 100%;
    text-align: left;
}
div.dokuwiki form.bureaucracy__plugin label input[type=radio]~span {
    width: 50%;
    display: inline-block;
    text-align: left;
    line-height: normal;
}

div.dokuwiki form.bureaucracy__plugin label.bureaucracy_error span {
    color: #F00;
}

div.dokuwiki form.bureaucracy__plugin #plugin__captcha_wrapper label {
    text-align: left;
}
/*responsive - small screen*/
@media (max-width: 480px) {
    div.dokuwiki form.bureaucracy__plugin label {
        text-align: left;
    }
    div.dokuwiki form.bureaucracy__plugin label>span {
        width: 100%;
    }
    div.dokuwiki form.bureaucracy__plugin input.button {
        margin-left: 0;
    }
    div.dokuwiki form.bureaucracy__plugin label .edit,
    div.dokuwiki form.bureaucracy__plugin label select {
        width: 100% !important;
    }
}