div.dokuwiki div.bureaucracy__plugin {
    width: 50%;
    text-align: center;
    font-size: 120%;
    padding: 2em;
}

div.dokuwiki form#bureaucracy__plugin {
    width: 100%;
    text-align: center;
}

div.dokuwiki form#bureaucracy__plugin p {
    font-size: 90%;
    text-align: left;
}

div.dokuwiki form#bureaucracy__plugin fieldset {
    width: 80%;
}

div.dokuwiki form#bureaucracy__plugin label {
    display: block;
    overflow: auto;
    margin: 5px;
}

div.dokuwiki form#bureaucracy__plugin label span {
    width: 48%;
    text-align: right;
    display: block;
    float: left;
}

div.dokuwiki form#bureaucracy__plugin label input {
    float: left;
    margin-left: 5px;
}

div.dokuwiki form#bureaucracy__plugin label textarea.edit,
div.dokuwiki form#bureaucracy__plugin label input.edit {
    width: 48%;
    display: block;
    float: left;
    margin-left: 5px;
}

div.dokuwiki form#bureaucracy__plugin label select {
    display: block;
    float: left;
    margin-left: 5px;
}

div.dokuwiki form#bureaucracy__plugin label.bureaucracy_error span {
    color: #F00;
}

.calendar-box {
    display:none;
    background-color:#fff;
    border:1px solid #444;
    position:absolute;
    width:250px;
    padding: 0 5px;
}
.calendar-box select.calendar-month {
    width:7em;
}
.calendar-box select.calendar-year {
    width:5em;
}
.calendar-box .calendar-cancel {
    width:100%;
}
.calendar-box table td {
    width:14%;
}
.calendar-box .calendar-title {
    text-align:center;
}
.calendar-box a {
    text-decoration:none;
}
.calendar-box .today a {
    padding:0 5px;
    margin-left:-5px;
    background-color:#ffe9c6;
}
.calendar-box .selected a {
    padding:0 5px;
    margin-left:-5px;
    background-color:#c9ff8b;
}
